<%
var page = {id: 'about', name: 'About'};
%><% include _header %>

<div class="content">
  <p>
    UCNV is an artist and programmer.
  </p>
  <p>
    His artist career began with his hobby "glitch". 
    He started to develop programs to damage image and video files around 2009 and has released the tools as open source. 
    He gradually became a glitch artist, yet the glitching is nothing more than a way to actualize his methodology.<br>

    His works stand on research and contemplation on the methods of digital media. 
    It has been done without drawing it to human recognition or adding the poetic and emotive aspects, differently from general artistic expression. 
    The center of his artwork represents is not its appearance but structure.
    He doesn't see or touch the object to find its essence, rather destroys it, like shattering glass to find how hard it is. 
    He does it with his own implemented software and analyzes the subject from the side of digital computation.
  </p>
  <p>
    Currently, he is based in Kyoto and also teaches at Kyoto Seika University.
  </p>
  <p>
    <br>--
  </p>
  <ul class="social">
    <li><a href="https://github.com/ucnv"><i class="icon-github"></i></a></li>
    <li><a href="https://twitter.com/ucnv"><i class="icon-twitter"></i></a></li>
    <li><a href="https://www.instagram.com/ucnv/"><i class="icon-instagram"></i></a></li>
    <li><a href="https://vimeo.com/ucnv"><i class="icon-vimeo"></i></a></li>
    <li><a href="https://www.facebook.com/uc.nv.3"><i class="icon-facebook"></i></a></li>
    <li><a href="http://ucnv.tumblr.com/"><i class="icon-tumblr"></i></a></li>
  </ul>
  <p>email: ucnvvv@gmail.com</p>


</div>
<% include _footer %>
