<%
var page = {id: 'index', name: '', description: 'The works by UCNV'};
%><% include _header %>

<div class="cover"></div>
<h2 class="heading">Selected works</h2>
<div class="list">
  <div class="work">
    <a href="https://ucnv.github.io/pnglitch/">
      <img src="assets/images/sw07.jpg" alt="The Art of PNG Glitch">
      <h3>The Art of PNG Glitch</h3>
      <p class="year">2015</p>
      <p class="desc">Documentation</p>
    </a>
  </div>
  <div class="work">
    <a href="/tabglitch/">
      <img src="assets/images/sw06.jpg" alt="Tab. Glitch">
      <h3>Tab. Glitch</h3>
      <p class="year">2013</p>
      <p class="desc">Installation</p>
    </a>
  </div>
  <div class="work">
    <a href="/vacantroom/">
      <img src="assets/images/sw05.jpg" alt="Vacant Room">
      <h3>Vacant Room</h3>
      <p class="year">2015</p>
      <p class="desc">Exhibition concept and curation</p>
    </a>
  </div>
  <div class="work">
    <a href="/jpegsinyourbrain/">
      <img src="assets/images/sw04.jpg" alt="Jpegs In Your Brain">
      <h3>Jpegs In Your Brain</h3>
      <p class="year">2013</p>
      <p class="desc">Digital images, web installation</p>
    </a>
  </div>
  <div class="work">
    <a href="/newvulnerability/">
      <img src="assets/images/sw03.jpg" alt="New Vulnerability">
        <h3>New Vulnerability</h3>
      <p class="year">2012, 2014</p>
      <p class="desc">Installation</p>
    </a>
  </div>
  <div class="work">
    <a href="/turpentine/">
      <img src="assets/images/sw02.jpg" alt="Turpentine">
      <h3>Turpentine</h3>
      <p class="year">2012, 2017</p>
      <p class="desc">Video and text</p>
    </a>
  </div>
  <div class="work">
    <a href="https://ucnv.github.io/aviglitch/">
      <img src="assets/images/sw01.jpg" alt="AviGlitch">
      <h3>AviGlitch</h3>
      <p class="year">2009 - ongoing</p>
      <p class="desc">Programming library</p>
    </a>
  </div>
  <div class="work">
    <!-- dummy -->
  </div>
</div>


<% include _footer %>
