<%
var page = {id: 'works', name: 'Works'};
%><% include _header %>

<div class="content">
  <div class="work">
    <a href="/sleeptonight/">
      <img src="assets/images/w30.jpg" alt="Sleep Tonight">
      <h3>Sleep Tonight</h3>
      <p class="year">2021</p>
      <p class="desc">Video</p>
    </a>
  </div>
  <div class="work">
    <a href="/supercritical/">
      <img src="assets/images/w29.jpg" alt="Supercritical">
      <h3>Supercritical</h3>
      <p class="year">2019, 2021</p>
      <p class="desc">Installation</p>
    </a>
  </div>
  <div class="work">
    <a href="https://shared-campus.com/themes/pop-cultures/research-network/online-lectures-2020/buried/">
      <img src="assets/images/w28.jpg" alt="Buried">
      <h3>Buried</h3>
      <p class="year">2020</p>
      <p class="desc">Text and images</p>
    </a>
  </div>
  <div class="work">
    <a href="/e/">
      <img src="assets/images/w27.jpg" alt="E">
      <h3>E</h3>
      <p class="year">2019, 2020</p>
      <p class="desc">Digital images</p>
    </a>
  </div>
  <div class="work">
    <a href="https://ucnv.stores.jp/items/5df03a81ac68df470a14309a">
      <img src="assets/images/w26.jpg" alt="Glitch art shiron">
      <h3>グリッチアート試論</h3>
      <p class="year">2019</p>
      <p class="desc">Book</p>
    </a>
  </div>
  <div class="work">
    <a href="/volatile/">
      <img src="assets/images/w25.jpg" alt="Volatile">
      <h3>Volatile</h3>
      <p class="year">2019</p>
      <p class="desc">Two-channel video</p>
    </a>
  </div>
  <div class="work">
    <a href="/twilight/">
      <img src="assets/images/w24.jpg" alt="Twilight">
      <h3>Twilight</h3>
      <p class="year">2016, 2019</p>
      <p class="desc">Videos</p>
    </a>
  </div>
  <div class="work">
    <a href="/nikonomonogasamespacewooccupysuru/">
      <img src="assets/images/w23.jpg" alt="Niko no mono ga same space wo occupy suru">
      <h3>二個の者が same space ヲ occupy スル</h3>
      <p class="year">2018</p>
      <p class="desc">Multi-channel video installation</p>
    </a>
  </div>
  <div class="work">
    <a href="/aa/">
      <img src="assets/images/w22.jpg" alt="Another Analogy">
      <h3>Another Analogy</h3>
      <p class="year">2018</p>
      <p class="desc">Multi-channel video installation</p>
    </a>
  </div>
  <div class="work">
    <a href="/datapoem/">
      <img src="assets/images/w20.jpg" alt="Datapoem">
      <h3>Datapoem</h3>
      <p class="year">2017, 2022</p>
      <p class="desc">Video, Poetry</p>
    </a>
  </div>
  <div class="work">
    <a href="/teoi/">
      <img src="assets/images/w21.jpg" alt="The Edge of Infinity">
      <h3>The Edge of Infinity</h3>
      <p class="year">2017</p>
      <p class="desc">Visual performance</p>
    </a>
  </div>
  <div class="work">
    <a href="/turpentine/">
      <img src="assets/images/w06.jpg" alt="Turpentine">
      <h3>Turpentine</h3>
      <p class="year">2012, 2017</p>
      <p class="desc">Video</p>
    </a>
  </div>
  <div class="work">
    <a href="/pngencodedbyanincorrectlyimplementedmethod/">
      <img src="assets/images/w19.jpg" alt="PNG encoded by an incorrectly implemented method">
      <h3>PNG encoded by an incorrectly implemented method (series)</h3>
      <p class="year">2016 - ongoing</p>
      <p class="desc">Digital images</p>
    </a>
  </div>
  <div class="work">
    <a href="https://ucnv.github.io/pnglitch/">
      <img src="assets/images/w18.jpg" alt="The Art of PNG Glitch">
      <h3>The Art of PNG Glitch</h3>
      <p class="year">2015</p>
      <p class="desc">Text</p>
    </a>
  </div>
  <div class="work">
    <a href="/vacantroom/">
      <img src="assets/images/w17.jpg" alt="Vacant Room">
      <h3>Vacant Room</h3>
      <p class="year">2015</p>
      <p class="desc">Exhibition concept and curation</p>
    </a>
  </div>
  <div class="work">
    <a href="https://github.com/ucnv/pnglitch">
      <img src="assets/images/w16.jpg" alt="PNGlitch">
      <h3>PNGlitch</h3>
      <p class="year">2014 - ongoing</p>
      <p class="desc">Programming library</p>
    </a>
  </div>
  <div class="work">
    <a href="/sanrio/">
      <img src="assets/images/w15.jpg" alt="Sanrio x Glitch">
      <h3>Sanrio x Glitch by Nukeme and Ucnv</h3>
      <p class="year">2014</p>
      <p class="desc">Apparel</p>
    </a>
  </div>
  <div class="work">
    <a href="https://vimeo.com/96563896">
      <img src="assets/images/w14.jpg" alt="Liquefaction">
      <h3>dj sniff "Liquefaction/液状化"</h3>
      <p class="year">2014</p>
      <p class="desc">Music video</p>
    </a>
  </div>
  <div class="work">
    <a href="/newvulnerability/">
      <img src="assets/images/w13.jpg" alt="New Vulnerability">
        <h3>New Vulnerability</h3>
      <p class="year">2012, 2014</p>
      <p class="desc">Installation</p>
    </a>
  </div>
  <div class="work">
    <a href="/coat/">
      <img src="assets/images/w12.jpg" alt="Coat by Nukeme and Ucnv">
      <h3>Coat by Nukeme and Ucnv</h3>
      <p class="year">2013</p>
      <p class="desc">Apparel</p>
    </a>
  </div>
  <div class="work">
    <a href="https://vimeo.com/158968523">
      <img src="assets/images/w11.jpg" alt="What happens when all keyframes are removed.">
      <h3>What happens when all keyframes are removed.</h3>
      <p class="year">2013</p>
      <p class="desc">Video</p>
    </a>
  </div>
  <div class="work">
    <a href="/tabglitch/">
      <img src="assets/images/w10.jpg" alt="Tab. Glitch">
      <h3>Tab. Glitch</h3>
      <p class="year">2013</p>
      <p class="desc">Installation</p>
    </a>
  </div>
  <div class="work">
    <a href="http://www.ntticc.or.jp/en/feature/2013/Openspace2013/Works/Tab_Glitch.html">
      <img src="assets/images/w09.jpg" alt="Facing to File Formats">
      <h3>Facing to File Formats</h3>
      <p class="year">2013</p>
      <p class="desc">Installation</p>
    </a>
  </div>
  <div class="work">
    <a href="/jpegsinyourbrain/">
      <img src="assets/images/w08.jpg" alt="Jpegs In Your Brain">
      <h3>Jpegs In Your Brain</h3>
      <p class="year">2013</p>
      <p class="desc">Digital images, web installation</p>
    </a>
  </div>
  <div class="work">
    <a href="https://vimeo.com/36514987">
      <img src="assets/images/w05.jpg" alt="Cash and Important Documents">
      <h3>Yukiga Futte Uresii "Cash and Important Documents"</h3>
      <p class="year">2012</p>
      <p class="desc">Music video</p>
    </a>
  </div>
  <div class="work">
    <a href="https://www.youtube.com/watch?v=m9y7iKuG0s4&list=PLC10B411990DF612E">
      <img src="assets/images/w04.jpg" alt="HIP HOP No Keinen Henka">
      <h3>Kuchiroro "Hip Hop No Keinen Henka"</h3>
      <p class="year">2011</p>
      <p class="desc">Music videos</p>
    </a>
  </div>
  <div class="work">
    <a href="/band/">
      <img src="assets/images/w02.jpg" alt="Utah Kawasaki Band Aratame Ucnv Band">
      <h3>Utah Kawasaki Band Aratame Ucnv Band</h3>
      <p class="year">2010 -</p>
      <p class="desc">Visual performances with improvised musicians</p>
    </a>
  </div>
  <div class="work">
    <a href="https://ucnv.github.io/aviglitch/">
      <img src="assets/images/w01.jpg" alt="AviGlitch">
      <h3>AviGlitch</h3>
      <p class="year">2009 - ongoing</p>
      <p class="desc">Programming library</p>
    </a>
  </div>
  <div class="work">
    <a href="http://teeparty.jp/invalid_pixels/">
      <img src="assets/images/w03.jpg" alt="Teeparty">
      <h3>Invalid pixels</h3>
      <p class="year">2010 - ongoing</p>
      <p class="desc">T-shirts</p>
    </a>
  </div>
  <div class="work dummy">
  </div>
  <div class="work dummy">
  </div>
  <div class="work dummy">
  </div>
  <div class="work dummy">
  </div>

<!---
  <h3>Events / Talks / Performances</h3>
  <div class="work">
    <a href="http://smalllight.net/mrmtlog.php?itemid=727">
      <img src="assets/images/w07.jpg" alt="Terpentine">
      <h3>MURAMATSU Masahiro's movie "Long Summer School"</h3>
      <p class="year">2012</p>
      <p class="desc">Visual effects</p>
    </a>
  </div>
  <div class="work">
    <a href="http://rubykaigi.org/2011/en/schedule/details/18S02">
      <img src="assets/images/w00.png" alt="">
      <h3>Visual Glitch, using Ruby</h3>
      <p class="year">2011</p>
      <p class="desc">Talk on RubyKaigi 2011</p>
    </a>
  </div>
  <div class="work">
    <a>
      <img src="assets/images/w00.png" alt="">
      <h3>Glitch workshop</h3>
      <p class="year">2011</p>
      <p class="desc">Workshop at Tokyo University of the Arts with Shusaku Hariya and Yosuke Hayashi</p>
    </a>
  </div>
-->

  <div class="work dummy">
  </div>
  <div class="work dummy">
  </div>
  <div class="work dummy">
  </div>
  <div class="work dummy">
  </div>

</div>
<% include _footer %>
