<%
var page = {id: 'supercritical', name: 'Supercritical'};
page.ogimage ='https://ucnv.org/' + page.id + '/01.jpg';
%><% include ../_header %>
<div class="content project">
  <h2 class="heading">Supercritical
  </h2>
  <figure>
    <img src="01.jpg" alt="">
    <img src="02.jpg" alt="">
    <img src="03.jpg" alt="">
    <img src="04.jpg" alt="">
    <figcaption>photos by SAITO Akihide in the exhibition "Physique Toss" at Akibatamabi21.</figcaption>
  </figure>
  <figure>
    <img src="05.jpg" alt="">
    <img src="06.jpg" alt="">
    <figcaption>photos by Dominik Gigler in <a href="https://www.flickr.com/photos/r00s/albums/72157719615215195">the exhibition "im/possible images" curated by Rosa Menkman</a>
    at Lothringer 13 Halle.</figcaptoin>
  </figure>
  
  
</div>
<% include ../_footer %>