<%
var page = {id: 'supercritical', name: 'Supercritical'};
page.ogimage ='https://ucnv.org/' + page.id + '/01.jpg';
%><% include ../_header %>
<div class="content project">
  <h2 class="heading">Supercritical
  </h2>
  <figure>
    <img src="01.jpg" alt="">
  </figure>
  <p>
    <em>Supercritical</em> is a multi-channel video installation. In the videos, people seems to be practicing something. What exactly they are doing is not clear. Instead, on one side of the juxtaposed video, we see that moiré is occurring from what they are wearing.
  </p>
  <p>
    This work deals with moiré, which is generated when two different patterns interfere with each other. It asks where that interference is occurring. For example, moiré caused by the overlapping of two nets occurs in the processing of the human eye. Or when the striped clothing of a person on TV causes moiré, it is happening in the shooting process. The moiré of this work is neither of those things. In the 2021 version of this piece, a man wearing a striped mask repeatedly insists, "Where is the moiré happening?" It occurred during the digital processing stage around the resolution after the shooting was successfully done without error. This work emphasizes its computational processes using the technique of video juxtaposition which was often employed in the artist's recent works such as <a href="/aa"><em>Another Analogy</em> (2018)</a>, <a href="/nikonomonogasamespacewooccupysuru"><em>Niko no mono ga same space wo occupy suru</em> (2018)</a>, <a href="/volatile"><em>Volatile</em> (2019)</a> and <a href="/e"><em>E</em> (2019)</a>. The viewer is then witnessing the digital processing itself, not its surface. But such things are not actually visible.
  </p>
  <p>
    The title <em>Supercritical</em> refers to the form of matter that appears certain special conditions other than its three usual states of gas, liquid, and solid.
  </p>
  <p>
    <br>
    This work was first shown in the group show "Physique Toss" at Akibatamabi 21, Tokyo in 2019. A modified version was then exhibited in the "im/possible images" exhibition at Lothringer 13 Halle, Munich in 2021.
  </p>
  <figure>
    <img src="02.jpg" alt="">
    <img src="03.jpg" alt="">
    <img src="04.jpg" alt="">
    <figcaption>photos by SAITO Akihide in the exhibition "Physique Toss" at Akibatamabi21.</figcaption>
  </figure>
  <figure>
    <img src="05.jpg" alt="">
    <img src="06.jpg" alt="">
    <figcaption>photos by Dominik Gigler in <a href="https://www.flickr.com/photos/r00s/albums/72157719615215195">the exhibition "im/possible images" curated by Rosa Menkman</a>
    at Lothringer 13 Halle.</figcaptoin>
  </figure>
  
  
</div>
<% include ../_footer %>