<%
var page = {id: 'pngencodedbyanincorrectlyimplementedmethod', name: 'PNG encoded by an incorrectly implemented method'};
page.ogimage ='https://ucnv.org/' + page.id + '/03.png';
%><% include ../_header %>
<div class="content project">
  <h2 class="heading">PNG encoded by an incorrectly implemented method</h2>
  <p>
    <img src="01.png" alt="">
    PNG encoded by an incorrectly implemented method (truecolor) #50100
  </p>
  <p>
    <img src="02.png" alt="">
    PNG encoded by an incorrectly implemented method (truecolor / interlaced) #50076
  </p>
  <p>
    <img src="03.png" alt="">
    PNG encoded by an incorrectly implemented method (grayscale) #100078
  </p>
  <p>
    <img src="04.png" alt="">
    PNG encoded by an incorrectly implemented method (grayscale / interlaced) #100092
  </p>
  <p>
    <img src="05.jpg" alt="">
    <img src="07.jpg" alt="">
  </p>
</div>
<% include ../_footer %>
