<%
var page = {id: 'equilibrium', name: 'Equilibrium'};
page.ogimage ='https://ucnv.org/' + page.id + '/10.jpg';
%><% include ../_header %>
<style>
  .grid {
    grid-template-columns: 32.5% 32.5% 32.5%;
  }
</style>
<div class="content project">
  <h2 class="heading">Equilibrium</h2>

  <p class="grid">
    <img src="01_1.jpg" alt="">
    <img src="01_2.jpg" alt="">
    <img src="01_3.jpg" alt="">
  </p>
  <p>
    <em>Equilibrium</em> is a three-channel video installation. It is based on the artist’s former artwork, <a href="/e"><em>E</em></a>, the series of digital images.
  </p>
  <p>
    In <em>E</em>, three images are juxtaposed, the original one and two encoded through the wrongly implemented JPEG and PNG encoders. Even the original image is just a photograph of an empty sky, and the other two are, so to speak, broken garbage; every image has no significant representation.
  </p>
  <p>
    This installation, <em>Equilibrium</em>, consists of three synchronized videos, each showing a close-up of the LCD monitor displaying one of <em>E</em>’s three images. Though the camera in each video moves on the same trajectory, we can recognize these three shots taken individually because of their subtle synchronization clutters. The videos capture the luminescence of each pixel on the monitor and also its dirty surface with sand and dust. The surface becomes a ground plane of real and digital debris.
  </p>
  <p class="grid">
    <img src="02_1.jpg" alt="">
    <img src="02_2.jpg" alt="">
    <img src="02_3.jpg" alt="">
    <img src="03_1.jpg" alt="">
    <img src="03_2.jpg" alt="">
    <img src="03_3.jpg" alt="">
    <img src="04_1.jpg" alt="">
    <img src="04_2.jpg" alt="">
    <img src="04_3.jpg" alt="">
    <img src="05_1.jpg" alt="">
    <img src="05_2.jpg" alt="">
    <img src="05_3.jpg" alt="">
  </p>
  <p>
    This installation was shown as the solo exhibition at Sony Park Mini, Ginza in 2022.
  </p>
  <p>
    <img src="06.jpg" alt="">
    <img src="07.jpg" alt="">
  </p>
</div>
<% include ../_footer %>
