<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>9</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100,300,500' rel='stylesheet' type='text/css'>
  <style>
  body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    color: #fff;
    background-color: #203434;
    padding-top: 100px;
  }
  p {
    line-height: 1;
    padding: 0;
    font-size: 15px;
    width: 555px;
    margin: 10px auto 30px;
    line-height: 1;
  }
  a {
    font-weight: 500;
    color: #fff;
    font-size: 15px;
    text-decoration: underline;
  }
  a:hover {
    text-decoration: none;
  }

  </style>

</head>
<body>

  <p>
    <b>Q #2</b>
    <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/328995374&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    <a href="https://www.dropbox.com/s/i0hbg3bdfo0ivja/Q2.wav?dl=0">wav</a>
  </p>
  <p>
    <b>Live in Copenhagen</b>
    <iframe width="100%" height="120" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/328994605&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
    <a href="https://www.dropbox.com/s/hom9rrq05b2qz9d/Live_in_Copenhagen.wav?dl=0">wav</a>
  </p>
  <p><br>Sounds by UCNV</p>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-10549214-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
