<%
var page = {id: 'teoi', name: 'The Edge of Infinity'};
page.ogimage ='https://ucnv.org/' + page.id + '/08.jpg';
%><% include ../_header %>
<div class="content project">
  <h2 class="heading">The Edge of Infinity</h2>
  <p>
    In the winter of 2017, Carl Stone and UCNV gave performances for the two days event "The Edge of Infinity"
    which was held in the planetarium of Nagoya City Science Museum.
    Carl played sounds and UCNV made visuals for the sphere in 35m diameter.
  </p>
  <p>
    <img src="01.jpg" alt="">
    <img src="02.jpg" alt="">
    <img src="03.jpg" alt="">
    <img src="04.jpg" alt="">
    <img src="05.jpg" alt="">
    <img src="06.jpg" alt="">
    <img src="07.jpg" alt="">
    <img src="08.jpg" alt="">
  </p>
  <p>
    The event was planned by the school of media engineering in Chukyo Univ. and Nagoya City Science Museum.<br>
    <a href="http://www.ncsm.city.nagoya.jp/visit/attraction/event/2017/post_449.html">http://www.ncsm.city.nagoya.jp/visit/attraction/event/2017/post_449.html</a>
  </p>
</div>
<% include ../_footer %>