<%
var page = {id: 'aa', name: 'Another Analogy'};
page.ogimage ='https://ucnv.org/' + page.id + '/01.jpg';
%><% include ../_header %>
<div class="content project">
  <h2 class="heading">Another Analogy</h2>
  <p>
    <img src="01.jpg" alt="">
  </p>
  <p>
    The group show "Audio Architecture" was held in mid 2018 at 21_21 Design Sight.
    Nine artists showed visuals made for Cornelius's new track which was playing back loopy in the exhibition space.
    It was curated by Yugo Nakamura. <br>
    <a href="http://www.2121designsight.jp/en/program/audio_architecture/">http://www.2121designsight.jp/en/program/audio_architecture/</a>
  </p>
  <p>
    UCNV take a part with his new method for glitch works to juxtapose normal
    and glitched pieces.
  </p>
  <p>
    <img src="03.jpg" alt="">
    <img src="04.jpg" alt="">
    <img src="05.jpg" alt="">
    <img src="06.jpg" alt="">
    <figure>
      <video width="1200" controls><source src="0x.mp4" type="video/mp4"></video>
    </figure>
    <img src="02.jpg" alt="">
  </p>
  <p>
    
  </p>
</div>
<% include ../_footer %>