<%
var page = {id: 'volatile', name: 'Volatile'};
page.ogimage ='https://ucnv.org/' + page.id + '/01.jpg';
%><% include ../_header %>
<div class="content project">
  <h2 class="heading">Volatile
  </h2>
  <figure>
    <img src="01.jpg" alt="">
  </figure>
  <p><em>Volatile</em> is an artwork which consists of two synchronized videos. It juxtaposes the normal and glitched videos, as his other artworks like <a href="/aa"><em>Another Analogy</em> (2018)</a>, <a href="/nikonomonogasamespacewooccupysuru"><em>Niko no mono ga same space wo occupy suru</em> (2018)</a> and <a href="/e"><em>E</em> (2019)</a>. This method of juxtaposition is intended to illustrate how the corruptions affect digital data rather than to demonstrate the aesthetics of destruction.
  </p>
  <figure>
    <img src="04.jpg" alt="">
    <img src="06.jpg" alt="">
    <img src="07.jpg" alt="">
    <img src="02.jpg" alt="">
    <img src="03.jpg" alt="">
    <img src="05.jpg" alt="">
    <img src="08.jpg" alt="">
  </figure>
  <figure>
    <div class="embed portrait">
      <iframe src="https://player.vimeo.com/video/336345349?h=e4440635c93&amp;title=0&amp;byline=0&amp;portrait=0&amp;player_id=0&amp;app_id=58479" width="1080" height="1920" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Twilight 2016 Tokyo, Japan"></iframe>
    </div>
  </figure>
  <p>
  The <em>Volatile</em> was exhibited in the artist's solo show with same title as this work at IAMAS library in 2019. The recorded footage of this exhbition was edited as a video above and exhibited in another group show "Illuminating Graphics 2" in same year.
</p>
  
</div>
<% include ../_footer %>