<%
var page = {id: 'volatile', name: 'Volatile'};
page.ogimage ='https://ucnv.org/' + page.id + '/01.jpg';
%><% include ../_header %>
<div class="content project">
  <h2 class="heading">Volatile
  </h2>
  <p>
    <img src="01.jpg" alt="">
  </p>
  <p>
    Two-channel video installation.
  </p>
  <p>
    <img src="04.jpg" alt="">
    <img src="06.jpg" alt="">
    <img src="07.jpg" alt="">
    <img src="02.jpg" alt="">
    <img src="03.jpg" alt="">
    <img src="05.jpg" alt="">
    <img src="08.jpg" alt="">
  </p>
  <p>
    <div class="embed" style="padding-bottom:900px;"">
      <iframe src="https://player.vimeo.com/video/336345349?h=e4440635c93&amp;title=0&amp;byline=0&amp;portrait=0&amp;player_id=0&amp;app_id=58479" width="1080" height="1920" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Twilight 2016 Tokyo, Japan"></iframe>
    </div>
  </p>
  
</div>
<% include ../_footer %>