<%
var page = {id: 'datapoem', name: 'Datapoem'};
page.ogimage ='https://ucnv.org/' + page.id + '/11.jpg';
%><% include ../_header %>
<div class="content project">
  <h2 class="heading">Datapoem</h2>
  <p>
    <em>Datapoem</em> is a short movie about a poetic form that is fictive but could be possible from the perspective of computers.
  </p>

  <p>
    <img src="12.jpg" alt="">
    <img src="08.jpg" alt="">
    <img src="09.jpg" alt="">
    <img src="10.jpg" alt="">
    <img src="07.jpg" alt="">
    <img src="11.jpg" alt="">
  </p>
  <p>
    In 2017, it was shown at the "Artificial Intelligence Art and Aesthetics Exhibition" held on OIST, Okinawa. 
    In 2022, it was remade and shown at the group exhibition “47°C (...and Cats in the Burning City)” on TALION Gallery, Mejiro.
  </p>
  <p>
    In the newer version, in addition to the reworked video, several poems, according to the poetic form suggested as fictive in the movie, are actually produced and released as NFT. 
    Although NFT should be able to handle any type of digital data as a non-fungible piece, the general tokens around ERC721 seem to assume image data. 
    Not to go against this convention, photographs of the poems were also created, so this artwork includes photo prints.
  </p> 
  <p>
    <img src="14.jpg" alt="">
    <img src="16.jpg" alt="">
    <img src="17.jpg" alt="">
    <img src="18.jpg" alt="">
    <img src="15.jpg" alt="">
  </p>
</div>
<% include ../_footer %>
