<%
var page = {id: 'datapoem', name: 'Datapoem'};
page.ogimage ='https://ucnv.org/' + page.id + '/06.jpg';
%><% include ../_header %>
<div class="content project">
  <h2 class="heading">Datapoem</h2>
  <p>A short movie about a possible poetic form in the perspective of computers.</p>
  <p>
    <img src="01.jpg" alt="">
    <img src="02.jpg" alt="">
    <img src="03.jpg" alt="">
    <img src="04.jpg" alt="">
    <img src="05.jpg" alt="">
    <img src="06.jpg" alt="">
  </p>
  <p>
    This movie was made for the "Artificial Intelligence Art and Aesthetics Exhibition" held on OIST, Okinawa in 2017- 2018. 
  </p>
</div>
<% include ../_footer %>
