<%
var page = {id: 'twilight', name: 'Twilight'};
page.ogimage ='https://ucnv.org/' + page.id + '/01.jpg';
%><% include ../_header %>
<div class="content project">
  <h2 class="heading">Twilight
  </h2>
  <p>
    <em>Twilight</em> is a series of videos in which the low smartphone batteries are on the subject. Their alert with hunger pops up on a footage of twilight.
    
  </p>
  <p>
    <div class="embed" style="padding-bottom:900px;"">
      <iframe src="https://player.vimeo.com/video/170014718?h=dad709c663&amp;title=0&amp;byline=0&amp;portrait=0&amp;player_id=0&amp;app_id=58479"
      width="1080" height="1920" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Twilight 2016 Tokyo, Japan"></iframe>
    </div>
    <center><em>Twilight 2016 Tokyo, Japan</em></center>
  </p>
  <p>
    <div class="embed" style="padding-bottom:900px;"">
      <iframe src="https://player.vimeo.com/video/312519292?h=8bf7805b93&amp;title=0&amp;byline=0&amp;portrait=0&amp;player_id=0&amp;app_id=58479" width="1080" height="1920" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="Twilight 2016 Tokyo, Japan"></iframe>
    </div>
    <center><em>Twilight 2019 Tokyo, Japan</em></center>
  </p>
  <p>
    <img src="01.jpg" alt="">
    <img src="02.jpg" alt="">
    <img src="03.jpg" alt="">
  
  </p>
  
  </div>
<% include ../_footer %>